aiohttp==3.11
albumentations==2.0
einops==0.8
gradio==5.23
imageio-ffmpeg==0.6
invisible-watermark==0.2
kornia==0.8
omegaconf==2.3
open_clip_torch==2.24
pip==25.0
pudb==2024.1
pytorch-lightning==2.5
stable-diffusion==0.0
streamlit-drawable-canvas==0.9
test_tube==0.7
transformers==4.50
webdataset==0.2
